@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
  color: #606060;
}

a:link,
a:visited {
  text-decoration: none;
}

.homepage__navbar__button:hover {
  text-decoration: underline;
}

#contact__social__github,
#contact__social__linkedin,
.projects__portfolio__button,
.projects__portfolio__button-2:hover {
  text-decoration: none;
}

.projects__portfolio__button-2, .projects__portfolio__button {
  height: 40px;
  width: 140px;
  text-align: center;
  background-color: #F8F8FF;
  border: 2px solid #606060;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.homepage {
  background-color: #F8F8FF;
}
.homepage__navbar {
  width: 100%;
  height: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #F8F8FF;
}
.homepage__header {
  padding: 40px;
  margin: 50px;
  background-color: #F8F8FF;
}
.homepage__name {
  font-size: 60px;
  margin-top: 50px;
}
.homepage__title {
  font-size: 40px;
}

.about {
  width: 100%;
  background-color: #D2E2E0;
  padding: 0 0 100px 0;
}
.about__heading {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding: 120px;
  background-color: #D2E2E0;
}
.about__text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 25px;
  background-color: #D2E2E0;
}
@media screen and (max-width: 1320px) {
  .about__text {
    flex-direction: column;
  }
}
.about__text__info {
  position: relative;
  display: flex;
  border: solid #606060 2px;
  border-radius: 10px;
  height: 400px;
  width: 400px;
  text-align: center;
  padding: 30px;
  margin: 20px;
}
.about__text__info p {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

.skills {
  width: 100%;
  height: auto;
  background-color: #F8ECC1;
}
.skills__heading {
  font-size: 40px;
  text-align: center;
  padding: 40px 0px;
  background-color: #F8ECC1;
}
.skills__text {
  font-size: 25px;
  text-align: center;
  padding: 40px 0px;
  background-color: #F8ECC1;
}
.skills__tech {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 40px;
  justify-content: center;
  place-items: center;
}
@media screen and (max-width: 768px) {
  .skills__tech {
    grid-template-columns: 1fr 1fr;
  }
}

.projects {
  width: 100%;
}
.projects__heading {
  font-size: 40px;
  text-align: center;
  padding: 80px;
  background-color: #F8F8FF;
}
.projects__portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background-color: #F8F8FF;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact__heading {
  font-size: 40px;
  text-align: center;
  padding: 40px 0;
  background-color: #D2E2E0;
}
.contact__email {
  font-size: 25px;
  text-align: center;
  padding: 40px 0;
  height: 100%;
  background-color: #D2E2E0;
}
.contact__social {
  font-size: 40px;
  text-align: center;
  background-color: #D2E2E0;
}

.homepage__image {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.about__text__info {
  background-image: url("./images/dandelion_seeds.png");
  background-color: #D2E2E0;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: 225% 200%;
}

[id^=skills__tech__] {
  font-size: 90px;
}

[id^=skills__tech__]:hover {
  opacity: 0.8;
}

.projects__portfolio__display {
  position: relative;
  height: 400px;
  width: 600px;
}

.projects__portfolio__image {
  display: block;
  height: 400px;
  width: 600px;
  border: solid 2px #606060;
  border-radius: 10px;
}

.projects__portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 600px;
  border: solid 2px #606060;
  border-radius: 10px;
  background-color: #D2E2E0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.projects__portfolio__overlay:hover {
  opacity: 1;
}

.projects__portfolio__text {
  justify-content: center;
  text-align: center;
  font-size: 25px;
  padding: 60px;
}

.projects__portfolio__button-2 {
  margin-top: 10px;
}

.contact__image {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #D2E2E0;
  overflow: hidden;
}

.wave-2, .wave-3 {
  background-color: #F8ECC1;
}

.wave-4 {
  background-color: #D2E2E0;
}

@media screen and (max-width: 768px) {
  .homepage__image__dandelion-image-small {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .contact__image__dandelion-image-small {
    display: none;
  }
}